<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- Start Configuration Data -->

	<title>WEB51@ORTDNIPRO</title>

	<meta 
		data-course-active='true'
		data-total-lesson-quantity='24'
		data-show-git-hub-link-after='10'
		data-show-certificates-data-button='false'
		data-certificates-data-link='#'
		data-show-course-review-button='false'
		data-show-course-review-after='2024-10-10T11:00:00Z'
		data-course-review-link='https://forms.gle/YHTyiHemkbSJJ8aQ6'
		data-git-hub-account='web51-ortdnipro'
		data-git-hub-token='Z2hwX2lnR2RteUFPa3pZWXdlRGFVTDNPaTl3OUMxS3RTbDA1dE44Yw=='
		data-show-telegram-link='false'
		data-show-git-hub-link='true'
		data-telegram-group-link='#'
		data-course-link-on-main-site='https://ortdnipro.org/web/'
		data-original-course-title='Основы программирования и веб-разработка'
	>
	
	<meta name="description" content="Учебные материалы для группы WEB51 образовательного центра ORT DNIPRO">

	<meta property="og:description" content="Учебные материалы для группы WEB51 образовательного центра ORT DNIPRO" />

	<meta property="og:site_name" content="ORT DNIPRO | Международный образовательный центр"/>
		
	<meta property="og:url" content="https://web51.site/" />

	<link href="./assets/img/web-favicon.png" rel="shortcut icon"/>

	<meta property="og:image" content="/assets/img/web-smo-image.png" />
	
	<!-- End Configuration Data -->

	<meta name="twitter:card" content="summary_large_image"/>
		
	<!-- Stylesheets -->
	<link rel="stylesheet" href="./assets/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="./assets/css/fa5.css"/>
	<link rel="stylesheet" href="./assets/css/flaticon.css"/>
	<link rel="stylesheet" href="./assets/css/owl.carousel.css"/>
	<link rel="stylesheet" href="./assets/css/magnific-popup.css"/>
	<link rel="stylesheet" href="./assets/css/style.css"/>
	<link rel="stylesheet" href="./assets/css/custom.css?version=3"/>

</head>
<body id='app-container'>
	
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>
	
	<!-- Header section start -->
	<header class="header-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6">
					<div class="site-logo">
						<h2>{{groupFullTitle}}</h2>
						<p>Курс 
							<a target='_blank' :href='courseLinkOnMainSite'>
							{{originalCourseTitle}}</a>
						</p>
					</div>
				</div>
				<div class="col-lg-6 text-lg-right header-buttons">
					<a v-if='showCertificatesDataButton' :href="certificatesDataLink" class="site-btn d-inline-flex align-items-center">
						<i class="fas fa-2x fa-graduation-cap"></i>
						&nbsp;Анкета для Сертификатов
					</a>
					<a v-if='isShowCourseReviewButton' :href="courseReviewLink" class="site-btn bg-primary text-white d-inline-flex align-items-center">
						<i class="fas fa-2x fa-balance-scale"></i>
						&nbsp;Ваше мнение о курсе
					</a>
				</div>
				
			</div>
		</div>
	</header>
	<!-- Header section end -->

	<!-- Social links section start -->
	<div class="social-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-10 offset-xl-1">
					<div class="social-link-warp">
						<div class="social-links">
							<a v-if='showTelegramLink' target='_blank' class='mx-5' :href="telegramGroupLink">
								<i class="scale-icon fa-2x fab fa-telegram"></i>
							</a>
							<a  v-if='showGitHubLink' target='_blank' class='mx-5' :href="`https://github.com/${gitHubAccount}`">
								<i class="scale-icon fa-2x fab fa-github"></i>
							</a>
						</div>
						<h2 class="hidden-md hidden-sm text-left">
							<span v-if='showTelegramLink'>Telegram</span>  
							<span v-if='showTelegramLink && showGitHubLink'> / </span> 
							<span v-if='showGitHubLink'>GitHub</span></h2>
					</div>
				</div>
			</div>
		</div>
	</div>	
	<!-- Social links section end -->

	<!-- Lessons section start -->
	<section class="resume-section spad">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-8 offset-xl-2">
					<div class="section-title">
						<h2 class='mb-5' @click='showPPTX = !showPPTX'>{{groupTitle}} Lessons List:</h2>
						<div class='d-flex align-items-center search-block my-4'>
							<i class="fas fa-search fa-2x text-muted"></i>
							&nbsp;
							<input placeholder="Search..." v-model='searchText' id='search-text'>
							
						</div>
						<h3 class='founded-stat text-muted my-4'>&nbsp;
							<span v-if='searchText.trim().length'>Найдено {{searchResult.length}} из {{repositoriesList.length}}</span>
						</h3>
					</div>
					<ul class="resume-list">
						<li v-for='item in searchResult'>
							<h2>
								{{item.title}}
								<span class='total-quantity-label'> / {{totalLessonQuantity}}</span>
							</h2>
							<p>{{item.description}}</p>
							<div class='linkbox my-3'>
								<input v-if='item.lessonNumber >= showGitHubLinkAfter' style='min-width: 250px;' class='ml-2' type='text' readonly :value='item.url'>
								
								<i v-if='item.lessonNumber >= showGitHubLinkAfter'  title="Copy To Clipboard" @click='copyToClipboard' class="fas fa-paste fa-3x"></i>

								<a v-if='item.lessonNumber >= showGitHubLinkAfter'  target='_blank' :href='item.url' style='color:black'>
									<i title="Open On GitHub"  class="fa-3x fas fa-code-branch"></i>
								</a>

								<a target='_blank' :href='item.pdfLink' style='color:black'>
									<i title="Download PDF From GitHub" class="far fa-file-pdf fa-3x"></i>
								</a>
							
								<a target='_blank' v-if='showPPTX' :href='item.pptxLink' style='color:black'>
									<i title="Download PPTX From GitHub" class="far fa-file-powerpoint fa-3x"></i>
								</a>
							</div>
								
						</li>
						<li v-if='isNothingFound' class='mb-5'>
							<h3 class='mb-5 text-muted' class=''>Ничего не найдено...</h3>
							<p>Попробуйте другой поисковый запрос...</p>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- Lessons section end -->

	<!-- Footer section start -->
	<footer class="footer-section">
		<div class="container text-center">
			<div class="copyright">
				<a target="_blank" :href='courseLinkOnMainSite'>
					<u>ORT DNIPRO</u>
				</a> 
				<span @click='showPPTX = !showPPTX'>
					&copy;
				</span> 
				2013-<span id='current-year'></div>
				
				<script>

					(function(){
						document.getElementById('current-year').innerHTML = new Date().getFullYear();
					})();

				</script>

		</div>
	</footer>
	<!-- Footer section end -->

	<!--====== Javascripts & Jquery ======-->
	<script src="./assets/js/jquery-2.1.4.min.js"></script>
	<script src="./assets/js/bootstrap.min.js"></script>
	<script src="./assets/js/owl.carousel.min.js"></script>
	<script src="./assets/js/magnific-popup.min.js"></script>
	<script src="./assets/js/circle-progress.min.js"></script>
	<script src="./assets/js/main.js"></script>
	<script src="./assets/js/vue.global.prod.js"></script>
	<script>
		let scriptTag = document.createElement('script');
		scriptTag.src = './assets/js/code.js?v=' + Math.random();
		document.body.appendChild(scriptTag);
	</script>
	
</body>
</html>
